<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Product Management Software</title>
    <meta http-equiv="refresh" content="1; url = http://202.88.246.57:9001/index.html" />
</head>

<body>
    <div class="jumbotron">

        <h1></h1>
        @*<p class="lead">Order Tracking Software</p>*@
        @*<p><a href="http://localhost:6000/index.html" class="btn btn-primary btn-lg">Visit Site &raquo;</a></p>*@
        <p><a href="http://202.88.246.57:9001/index.html" class="btn btn-primary btn-lg">Visit Site &raquo;</a></p>
    </div>


</body>
</html>


